<div class="media">
  <div class="media-body">
    <div class="media-section">
      <h2><%= @cocktail.name %></h2>
      <img src="https://hd.unsplash.com/photo-1444728399417-08d2aa39e6f4">
    </div>
  </div>
  <div class="media-aside">
    <div class="media-section">
      <h2>Recipe</h2>
      <% @cocktail.doses.each do |dose| %>
      <p><%= dose.description %>
      <%= dose.ingredient.name %>
      <%= link_to cocktail_dose_path(@cocktail, dose), method: :delete, data: { confirm: 'Are you sure you want to delete this article?'} do %>
        <i class="fa fa-trash-o"></i>
        <% end %>
      </p>

      <% end %>
    </div>
    <div class="media-section">
      <h3>Add ingredient</h3>
      <%= render 'doses/form' %>
    </div>
  </div>
</div>
